body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-border {
    width: 414px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Hide the overflow to contain the gradient */
  }
  
  .outer-border::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    background: linear-gradient(to right, #407adb, #b247de);
    border-radius: 32px;
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
.progress-bar {
    width: 400px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.progress {
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(to right, #407adb, #b247de);
    position: absolute;
    left: 0;
    top: 0;
}

input[type="range"] {
    margin-top: 20px;
    width: 400px;
}
